streamlit_pandas_profiling==0.1.1
xlrd==2.0.1
Markdown==3.3.4
pandas==1.1.5
pingouin==0.3.10
statannot==0.2.3
statsmodels==0.12.2
matplotlib==3.3.4
numpy==1.19
seaborn==0.11.1
pandas_profiling==2.11.0
streamlit==0.79.0
bioinfokit==2.0.2
openpyxl==3.0.7
Pillow==8.1.2
Flask==2.1.0
