pandas_profiling==2.11.0
numpy==1.19
streamlit==0.79.0
xlrd==2.0.1
seaborn==0.11.1
streamlit_pandas_profiling==0.1.1
statsmodels==0.12.2
bioinfokit==2.0.2
Markdown==3.3.4
pandas==1.1.5
pingouin==0.3.10
statannot==0.2.3
matplotlib==3.3.4
Pillow==8.1.2
pyarrow==3.0.0