numpy==1.23.0
streamlit_pandas_profiling==0.1.3
xlrd==2.0.1
Markdown==3.3.4
pandas==1.1.5
pingouin==0.5.3
statannot==0.2.3
statsmodels==0.13.2
matplotlib==3.3.4
seaborn==0.11.1
pandas_profiling==3.6.6
streamlit==0.79.0
bioinfokit==2.0.2
openpyxl==3.0.7
Pillow==8.1.2
Flask==2.1.0
jinja2==3.0.3
